<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381062034167-84k030fhh68pq86s4ibthh6sglq2gjel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381062034167-84k030fhh68pq86s4ibthh6sglq2gjel</string>
	<key>API_KEY</key>
	<string>AIzaSyDjMM9TwHfxWzYEOSkSVfWNzwAI27T-dVo</string>
	<key>GCM_SENDER_ID</key>
	<string>381062034167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.audio</string>
	<key>PROJECT_ID</key>
	<string>auth-57c4f</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-57c4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381062034167:ios:4efde832354d265976d9f2</string>
</dict>
</plist>